ion-card {
    @apply h-1/5 m-0 w-full shadow-md mb-2 !important;
}

ion-card-header {
    padding: 0.5em;
}

ion-avatar {
    margin: 0.5em 0.3em;
    padding: 1em;
    display: flex;
    width: 90%;
    height: 90%;
}

ion-avatar img {
    align-self: center ;
}

ion-card-content ion-card-title {
    margin: auto 0;
    @apply text-2xl font-semibold gap-3 !important;
}

ion-card-content {
    padding: 0;
    justify-content: flex-end;
}

ion-toggle {
    margin: 0 auto;
}

ion-card-subtitle {
    text-align: center;
    margin: 0 auto;
}

.routes {
    justify-content: flex-end;   
}

.online {
    width: 60%;
}

#driverStats {
    width: 100%;
}

#driverStats:first-child {
    justify-content: flex-end;
    min-width: 50%;
}

#driverStats:nth-last-child() {
    min-width: 50%;
}